# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/
.nyc_output/

# Production & Build
dist/
build/
.dfx/
target/

# Environment & Logs
.env
.env.local
*.log
npm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
